html, body {
    margin: 0;
    padding: 0;
    background-color: #581eb5;
}

.foto-container {
    width: 100%;
    text-align: center;
    padding: 16px;
}
img {
    border: 5px double #628da2; 
    border-radius: 10%;
}

.container img {
    border-radius: 50%;
}

h1 {
    color: #1759c3;
    filter: drop-shadow(0 0 10px #6b35df);
}

p {
    color: #091007;
}
.botao {
    width: 60px;
    height: 60px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

p {
    margin-top: 0;
}

.container > div {
    cursor: pointer;
    display: block;
    filter: drop-shadow(0 0 10px #fffdef);
}
